{% extends "site.html" %}

{% block title %}Main{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h1 id="head">BORK</h1>
    {{ navbar([   ('Home', url_for('main')), 
  	          ('Profile', url_for('get_profile')),
  	          ('Logout', url_for('logout')),
	      ]) }}

{% if message %}
<h2 id="head">{{ message }}</h2>
{% endif %}
<br>
<form id="post-form">
<input type="text" name="content">
<button id="create-post">Post</button>
</form>
<br>
<div id='post-confirm'></div>

{% endblock %}
